.center {
	display: flex;
	align-items: center; /* horizontal centering */
	justify-content: center; /* vertical centering */
	flex-direction: column; /* stack headers */
	min-height: 100vh;
	margin: auto 200px;
	color: slategrey;
}

#quote {
	font-size: 35px;
	font-style: italic;
}

#source {
	letter-spacing: 3px;
}
